.town {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "title profession"
    "title artist"
    "pic info"
    "pic info";
  column-gap: 40px;
  position: relative;
}

.town__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  width: 460px;
  grid-area: title;
  margin: 0 0 48px;
}

.town__title_city_berea {
  position: absolute;
  left: 0;
  top: 0;
  width: 584px;
  margin: 0 0 17px;
}

.town__media {
  grid-area: pic;
}

.town__media-image {
  margin: 0;
  width: 460px;
  height: 460px;
  vertical-align: middle;
}

.town__media-320text_city_muramvya {
  display: none;
}

.town__media-shop-button {
  margin: 48px 0 0;
  background-color: #0278fe;
  height: 48px;
  padding: 13px 20px;
  width: 355px;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  line-height: normal;
}

.town__media-link {
  text-decoration: none;
  color: #fff;
}

.town__media-shop-button:hover {
  background-color: #0063d2;
}

.town__media-shop-button:active {
  background-color: #238aff;
}

.town__colleague-profession {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1.44px;
  color: #aaa;
  width: 484px;
  height: 15px;
  margin-top: 107px;
  margin-bottom: 8px;
  grid-area: profession;
}

.town__colleague-profession_city_criccieth {
  margin-top: 85px;
}

.town__artist {
  margin-top: auto;
  margin-bottom: 48px;
  width: 484px;
  height: 22px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  grid-area: artist;
}

.town__artist_city_criccieth {
  list-style-type: none;
  padding: 0;
  margin-bottom: 48px;
  height: auto;
}

.town__artist_city_berea {
  margin-bottom: 17px;
}

.town__info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.town__info_city_criccieth {
  row-gap: 56px;
}

.town__info_city_berea {
  row-gap: 17px;
}

.town__info_city_muramvya {
  row-gap: 25px;
}

.town__info-paragraph {
  width: 485px;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 163%;
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .town {
    column-gap: 0;
  }

  .town_city_berea {
    padding-top: 15px;
  }

  .town_city_muramvya {
    padding-top: 0;
  }

  .town_city_barranquilla {
    padding-top: 10px;
  }

  .town__title {
    font-size: 42px;
    height: 50px;
    width: 340px;
    margin: 0 0 46px;
    display: table-cell;
    vertical-align: middle;
    line-height: 50px;
  }

  .town__title_city_criccieth {
    margin-top: 21px;
  }

  .town__title_city_berea {
    height: 92px;
    margin: 0;
    position: relative;
  }

  .town__title_city_muramvya {
    margin-bottom: 0;
    height: 95px;
  }

  .town__title_city_barranquilla {
    margin-bottom: 0;
    height: 93px;
  }

  .town__colleague-profession {
    margin-top: 0;
    margin-bottom: 8px;
    width: 295px;
  }

  .town__colleague-profession_city_criccieth {
    margin-bottom: 0;
  }

  .town__colleague-profession_city_berea {
    margin-top: 1px;
  }

  .town__colleague-profession_city_muramvya {
    margin-top: 47px;
  }

  .town__artist {
    width: 295px;
    margin-bottom: 24px;
    height: 44px;
  }

  .town__artist_city_criccieth {
    height: 67px;
    margin-top: 8px;
    margin-bottom: 24px;
  }

  .town__artist_city_berea {
    margin-top: 0;
    margin-bottom: 28px;
    height: 22px;
  }

  .town__artist_city_muramvya {
    width: 298px;
    margin-bottom: 0;
    height: 24px;
  }

  .town__artist_city_barranquilla {
    margin-bottom: 46px;
    height: 24px;
  }

  .town__media {
    width: 368px;
  }

  .town__media-image {
    margin: 0;
    width: 340px;
    height: 340px;
    vertical-align: middle;
  }

  .town__media-image_city_berea {
    margin-top: 2px;
  }

  .town__media_city_muramvya {
    margin-top: 48px;
  }

  .town__media-320text_city_muramvya {
    display: none;
  }

  .town__info {
    row-gap: 14px;
  }

  .town__info_city_criccieth {
    row-gap: 25px;
  }

  .town__info_city_berea {
    margin-top: 0;
    row-gap: 20px;
  }

  .town__info_city_muramvya {
    margin-top: 29px;
    gap: 11px;
  }

  .town__info-paragraph {
    width: 352px;
    font-size: 16px;
    line-height: 26.08px;
  }

  .town__info-paragraph_city_berea {
    width: 355px;
  }

  .town__media-shop-button {
    width: 355px;
    border: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .town {
    display: flex;
    flex-direction: column;
    position: unset;
  }

  .town_city_berea {
    padding-top: 20px;
  }

  .town_city_muramvya {
    padding-top: 1px;
  }

  .town__title {
    width: 288px;
    height: 35px;
    margin: 0 16px 30px;
    font-size: 32px;
    line-height: 35px;
  }

  .town__title_city_berea {
    height: 64px;
    margin: 0 16px 15px;
    position: unset;
  }

  .town__title_city_muramvya {
    height: 64px;
    margin: 0 16px 30px;
  }

  .town__colleague-profession {
    width: 288px;
    height: 15px;
    line-height: 14.52px;
    margin: 0 16px 8px;
  }

  .town__artist {
    width: 288px;
    height: 44px;
    margin: 0 16px 30px;
  }

  .town__artist_city_criccieth {
    height: 66px;
    margin: 0 16px 30px;
  }

  .town__artist_city_berea {
    height: 24px;
    margin: 0 16px 30px;
  }

  .town__artist_city_muramvya {
    margin: 0 16px 8px;
  }

  .town__media_city_muramvya {
    margin-top: 0;
  }

  .town__media-image {
    width: 320px;
    height: 320px;
  }

  .town__media-image_city_muramvya {
    width: 320px;
    height: 320px;
  }

  .town__media-320text {
    width: 288px;
    color: #fff;
    margin: 0 16px 0;
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  .town__media-320text_city_kiev::before {
    content: "Kiev (o Kyiv), la capital de Ucrania, es una gran ciudad situada a orillas del río Dniéper. Por supuesto, nadie en su sano juicio se bañaría en el río, a menos que se haya criado aquí, en cuyo caso probablemente lo haya intentado en algún momento. Los veranos son calurosos aquí, y los inviernos con fuertes corrientes de aire, pero el otoño y la primavera son absolutamente increíbles.";
    font-size: 16px;
    line-height: 26.08px;
  }

  .town__media-320text_city_kiev::after {
    content: "La ciudad en sí es una mezcla de arquitectura prerrevolucionaria, de posguerra y soviética, toda ella salpicada de balcones modificados. Si te encuentras en la orilla derecha del Dniéper, el paisaje es difícil de atravesar para las personas en bicicleta y las que llevan tacones. Sin embargo, la orilla izquierda es considerada mucho menos interesante y prestigiosa, incluso por la gente que vive en las afueras de la derecha.";
    font-size: 16px;
    line-height: 26.08px;
  }

  .town__media-320text_city_criccieth {
    gap: 10px;
  }

  .town__media-320text_city_criccieth::before {
    content: "La ruina medieval del castillo de Criccieth domina la ciudad desde una roca que se adentra en el mar. Se cree que fue construido por Llewelyn el Grande en el siglo XIII. Unos 900 años después, la autodenominada *Perla de Gales a orillas de Snowdonia* se ha convertido en un popular destino turístico durante los meses de verano.";
    font-size: 16px;
    line-height: 26.08px;
  }

  .town__media-320text_city_criccieth::after {
    content: "A poca distancia del castillo, se puede disfrutar del mejor helado del mundo en Cadwalader's, cuyo ingrediente secreto se rumorea que son las algas de la zona. Otro reclamo a la fama es el hecho de que Criccieth ganó el premio *Wales in Bloom* durante cinco años consecutivos por sus espectaculares exhibiciones florales alrededor de la ciudad. También fue el hogar de David Lloyd George, el único galés que ocupó el cargo de Primer Ministro del Reino Unido.";
    font-size: 16px;
    line-height: 26.08px;
  }

  .town__media-320text_city_berea {
    gap: 0;
  }

  .town__media-320text_city_berea::before {
    content: "Berea es una pequeña ciudad situada en la parte central de Kentucky. La ciudad está rodeada de hermosos bosques y campos. Es conocida como la capital del arte y la artesanía del estado, y los visitantes encontrarán muchas oportunidades de compra: tiendas con joyas hechas a mano, velas, artículos de madera, galerías, estudios de vidrio y mucho más. La ciudad celebra cada año un festival en el que se festeja el 'spoonbread', un plato local hecho con pan de maíz y servido con una cuchara de madera.";
    font-size: 16px;
    line-height: 26.08px;
  }

  .town__media-320text_city_berea::after {
    content: "Sin embargo, es probablemente más conocido por la universidad local. Berea College se fundó en 1855 y fue la primera universidad del sur de EE.UU. en estar integrada racialmente, así como la primera en ser coeducativa. De manera singular, no cobra matrícula: todos los estudiantes reciben una beca de matrícula completa.";
    font-size: 16px;
    line-height: 26.08px;
  }

  .town__media-320text_city_muramvya {
    gap: 25px;
    font-size: 16px;
    line-height: 26.08px;
  }

  .town__media-320text_city_muramvya::before {
    content: "Muramvya es una de las 18 provincias de Burundi. En la época del reino, Muramvya era la capital real y en 2007, por su cultura y paisaje natural, fue incluida en la lista indicativa del Patrimonio Cultural Mundial de la UNESCO. Está situada en el centro de Burundi, entre las capitales política y económica del país.";
    font-size: 16px;
    line-height: 26.08px;
  }

  .town__media-320text_city_muramvya::after {
    content: "El Parque Nacional de Kibira, una de las mayores reservas de fauna silvestre para simios, se extiende por cuatro provincias, incluida Muramvya. Este Parque Nacional se encuentra en el vértice de las hermosas montañas de la divisoria Congo-Nilo, que oscilan entre los 1.550 y los 2.660 metros de altitud. Está lleno de hermosa vegetación, y es una fuente para los diversos ríos y arroyos que proporcionan agua en todo el país.";
    font-size: 16px;
    line-height: 26.08px;
  }

  .town__media-320text_city_barranquilla {
    gap: 25px;
  }

  .town__media-320text_city_barranquilla::before {
    content: "Barranquilla, también conocida como la Arenosa o Curramba la Bella, es una de las principales ciudades de Colombia y un destino turístico de referencia para locales y extranjeros. Esta ciudad, donde el río Magdalena termina su largo recorrido, es cuna de grandes músicos, literatos y pintores. Además, es escenario de una de las fiestas más importante del país, el Carnaval de Barranquilla.";
    font-size: 16px;
    line-height: 26.08px;
  }

  .town__media-320text_city_barranquilla::after {
    content: "Admiro mucho el artista Fernando Botero. Nacido en Medellín (Colombia), Fernando Botero empezó a trabajar como ilustrador a los dieciséis años en una revista literaria local. Estos primeros dibujos eran mucho más naturalistas y tradicionales que su más conocido estilo maduro de figuras infladas e imágenes exageradas. Poetas románticos de habla hispana como Francisco García Lorca y Pablo Neruda, así como la música local, fueron algunas de las primeras influencias de su arte.";
    font-size: 16px;
    line-height: 26.08px;
  }

  .town__media-shop-button {
    margin: 8px 16px 0;
    width: 288px;
    font-size: 14px;
    line-height: 16.94px;
  }

  .town__media-shop-button_city_criccieth {
    margin: 7px 16px 0;
  }

  .town__media-shop-button_city_berea {
    margin: 6px 16px 0;
  }

  .town__info {
    display: none;
  }
}
